body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    display: grid;
}

/* create your child rules here:  */
.item-1{
    grid-column: 1 / 4;
  background-color: white;
}
.item-2{
    grid-column: 3 / span 5;
    background-color: white;
}
.item-3{
    grid-column: 1 / 4;
    background-color: white;
}
.item-4{
    grid-column: 3 / span 5 ;
    background-color: white;
}
.item-5{
    grid-column: 1 / 4;
    background-color: white;
}