/* <style>
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap')
</style>
   Tip: The @import link to the Google font needs to be on the first line
   of the stylesheet (above this comment).
*/

  

html{
    scroll-behavior: smooth;
}


body * {
    box-sizing: border-box;
}

body {
    .sacramento-regular {
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
    
}